* {
    box-sizing: border-box;
}
  
body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

section {
    padding: 30px 15px;
    background-color: #bbb;
}

.nav-main {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

.dummy-content {
    height: 100%;
    width: 100%;
    margin-left: 180px;
}

.dummy-content p {
    height: 1500px;
}

.desktop-nav {
    display: block;
    position: fixed;
    background-color: #202421;
    height: 100%;
    width: 180px;
    left: 0;
    top: 0;
    bottom: 0;

}

.desktop-tab-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 150px;
    margin: 0 auto;
    padding-left: 0;
}

.desktop-tab {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px;
}

.desktop-icon {
    display: block;
    height: 18pt;
}

.tab-title {
    display: inline-block;
    padding: 0;
    margin-left: 20px;
    line-height: normal;
    font-size: 15px;
    color: white;
}

.logo {
    margin: 25px auto;
}

.inactive {
    color: rgb(171, 171, 171)
}